#body {
    background: slategray;
    text-align: center;
}

h1 {
    color: white;
    font-size: 40px;
    margin-top: 3em;
}

li {
    width: fit-content;
    margin: auto;
    color: white;
    font-size: x-large;
    padding: 5px;
}

ul {
    list-style-type: none;
    text-align: center;
}

.finished {
    text-decoration: line-through;
}
